<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section class="hero">
        <div class="container">
            <div class="hero__inner">
                <div class="hero__media">
                    <div class="hero__img-wrap">
                        <img src="./assets/img/pet01.png" alt="" 
                            class="hero__img"
                        >
                        <img src="./assets/img/decor01.svg" alt="" 
                            class="
                                hero__decor 
                                hero__decor-left"
                        >
                        <img src="./assets/img/decor02.svg" alt="" 
                            class="
                                hero__decor 
                                hero__decor-right"
                        >
                    </div>
                    <div class="
                        hero__img-wrap 
                        hero__img-wrap-small"
                    >
                        <img src="./assets/img/pet02.png" alt="" 
                            class="hero__img"
                        >
                    </div>
                    <div class="hero__list">
                        <section class="hero-list-item">
                            <img src="./assets/img/pet03.png" alt="" 
                                class="hero-list-item__thumb"
                            >
                            <div class="hero-list-item__info">
                                <p class="hero-list-item__title">Pet Health</p>
                                <div class="hero-list-item__skeleton"></div>
                                <div class="hero-list-item__skeleton"></div>
                            </div>
                        </section>
                        <div class="hero-list-item__separate"></div>
                        <section class="hero-list-item">
                            <img src="./assets/img/pet04.png" alt="" 
                                class="hero-list-item__thumb"
                            >
                            <div class="hero-list-item__info">
                                <p class="hero-list-item__title">Pet care</p>
                                <div class="hero-list-item__skeleton"></div>
                                <div class="hero-list-item__skeleton"></div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="hero__content">
                    <h1 class="hero__heading">Established & Trusted Pet Care Service</h1>
                    <p class="hero__desc">Discover a wide variety of Pawsitive services to choose from, including daycare, private walks, office duty and spa.</p>
                    <div class="hero__row">
                        <a href="" 
                            class="
                                btn 
                                btn--primary 
                                hero__cta-btn"
                        >   Book a Meet
                            <span class="btn__icon">
                                <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.48584 0.5L3.98584 3L1.48584 5.5" stroke="#FD5056" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </a>
                        <a href="" 
                            class="hero__cta-link">Schedule a Call
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>