<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section class="service">
        <div class="container">
            <section class="service__top">
                <p class="service__desc">What we do for you?</p>
                <h2 class="section-heading">Our Services</h2>
            </section>
            <div class="service__body">
                <div class="service__column">
                    <!-- Service item 1 -->
                    <article class="service-item">
                        <h3>
                            <a href="" 
                                class="service-item__heading">Puppy Sitting
                            </a>
                        </h3>
                        <p class="service-item__desc">Helping your new pup to be a good boy or girl isn’t always easy, but we’re here to help.</p>
                        <a href="" 
                            class="service-item__more">Read More
                        </a>
                    </article>
                    <!-- Service item 2 -->
                    <article class="service-item">
                        <h3>
                            <a href="" 
                                class="service-item__heading">Dog Walking
                            </a>
                        </h3>
                        <p class="service-item__desc">Choose from a 30, 45, or 60-minute visit to give your pet their daily dose of fun-filled.</p>
                        <a href="" 
                            class="service-item__more">Read More
                        </a>
                    </article>
                    <!-- Service item 3 -->
                    <article class="service-item">
                        <h3>
                            <a href="" 
                                class="service-item__heading">Pet Sitting
                            </a>
                        </h3>
                        <p class="service-item__desc">While you’re away we can make sure your pet has all the food, water, exercise, and, of course.</p>
                        <a href="" 
                            class="service-item__more">Read More
                        </a>
                    </article>
                </div>
                <div class="service__column">
                    <figure class="service__media">
                        <img src="./assets/img/service01.png" alt="service01.png" 
                            class="service__img"
                        >
                    </figure>
                    <div class="service__cta-wrap">
                        <a href="" 
                            class="
                                btn 
                                service__cta">View All Services
                        </a>
                    </div>
                </div>
                <div class="service__column">
                    <!-- Service item 4 -->
                    <article class="service-item">
                        <h3>
                            <a href="" 
                                class="service-item__heading">Overnight Care
                            </a>
                        </h3>
                        <p class="service-item__desc">If you’re away for the night, we can stay the night or stop by in the evening and morning.</p>
                        <a href="" 
                            class="service-item__more">Read More
                        </a>
                    </article>
                    <!-- Service item 5 -->
                    <article class="service-item">
                        <h3>
                            <a href="" 
                                class="service-item__heading">Pet Taxi
                            </a>
                        </h3>
                        <p class="service-item__desc">Does your pet need a lift to the groomers, vet, or dog park? We’ve got their tail covered.</p>
                        <a href="" 
                            class="service-item__more">Read More
                        </a>
                    </article>
                    <!-- Service item 6 -->
                    <article class="service-item">
                        <h3>
                            <a href="" 
                                class="service-item__heading">Pet Medical Admin
                            </a>
                        </h3>
                        <p class="service-item__desc">Our team of experienced professionals can help with everything from pills to injections.</p>
                        <a href="" 
                            class="service-item__more">Read More
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </section>
</body>
</html>