<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section class="staff">
        <div class="container">
            <p class="staff__desc">Pet Care Staff</p>
            <h2 class="
                section-heading 
                staff__heading">Meet Our Groomers
            </h2>
            <div class="staff__list">
                <!-- Staff item 1 -->
                <article class="staff-item">
                    <figure class="staff-item__img-wrap">
                        <img src="./assets/img/staff01.png" alt="staff01.png" 
                            class="staff-item__img"
                        >
                    </figure>
                    <p class="staff-item__title">Pet Trainer</p>
                    <h3 class="staff-item__name">Meghan Samit</h3>
                </article>
                <!-- Staff item 2 -->
                <article class="staff-item">
                    <figure class="staff-item__img-wrap">
                        <img src="./assets/img/staff02.png" alt="staff02.png" 
                            class="staff-item__img"
                        >
                    </figure>
                    <p class="staff-item__title">Veterinarian</p>
                    <h3 class="staff-item__name">Alissa Silva</h3>
                </article>
                <!-- Staff item 3 -->
                <article class="staff-item">
                    <figure class="staff-item__img-wrap">
                        <img src="./assets/img/staff03.png" alt="staff03.png" 
                            class="staff-item__img"
                        >
                    </figure>
                    <p class="staff-item__title">Veterinarian</p>
                    <h3 class="staff-item__name">Cindy Harris</h3>
                </article>
                <!-- Staff item 4 -->
                <article class="staff-item">
                    <figure class="staff-item__img-wrap">
                        <img src="./assets/img/staff04.png" alt="staff04.png" 
                            class="staff-item__img"
                        >
                    </figure>
                    <p class="staff-item__title">Animal Caretaker</p>
                    <h3 class="staff-item__name">Lucas Tony</h3>
                </article>
            </div>
            <div class="staff__cta-wrap">
                <a href="" 
                    class="
                        btn 
                        staff__cta">View All Team
                </a>
            </div>
        </div>
    </section>
</body>
</html>