<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section class="review">
        <div class="container">
            <div class="review__inner">
                <button class="review__control">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.875 9.99854H3.125" 
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        />
                        <path d="M8.75 4.37354L3.125 9.99854L8.75 15.6235" 
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        />
                    </svg>
                </button>
                <div class="review__content">
                    <div class="review__list">
                        <article class="review-item">
                            <figure class="review-item__media">
                                <img src="./assets/img/review01.png" alt="review01.png" 
                                    class="review-item__img"
                                >
                            </figure>
                            <section class="review-item__content">
                                <h2 class="section-heading">Our Reviews</h2>
                                <blockquote class="review-item__quote">“It was very comforting to recieve a text and pics each day about our pets and how they were doing. It was also nice that my pets were in the comfortable environment of their own home and received playfull attention from our pet sitters as well. Thanks so much!”</blockquote>
                                <p class="review-item__author">Karla Deras</p>
                            </section>
                        </article>
                    </div>
                    <div class="review__dots">
                        <div class="
                            review__dot 
                            review__dot--active">
                        </div>
                        <div class="review__dot"></div>
                        <div class="review__dot"></div>
                        <div class="review__dot"></div>
                    </div>
                </div>
                <button class="review__control">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.125 9.99854H16.875" 
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        />
                        <path d="M11.25 4.37354L16.875 9.99854L11.25 15.6235" 
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </section>
</body>
</html>