<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section class="blog">
        <div class="container">
            <div class="blog__top">
                <h2 class="section-heading">Our Blog</h2>
                <div class="blog__info">
                    <p class="
                        section-desc 
                        blog__desc">Stay up to date with the latest tech trands and news in the pets.
                    </p>
                    <a href="" 
                        class="
                            btn 
                            blog__cta">View All Blog
                    </a>
                </div>
            </div>
            <div class="blog__list">
                <!-- Blog item 1 -->
                <article class="blog-item">
                    <figure class="blog-item__img-wrap">
                        <time datetime="" 
                            class="blog-item__time">21 june 2021
                        </time>
                        <a href="">
                            <img src="./assets/img/blog01.jpg" alt="blog01.jpg" 
                                class="blog-item__img"
                            >
                        </a>
                    </figure>
                    <section class="blog-item__info">
                        <h3>
                            <a href="" 
                                class="blog-item__title">Building Bonds and Trusting Relationships with Your Pets.
                            </a>
                        </h3>
                        <p class="blog-item__desc">There isn’t a relationship around that can survive without trust. My relationship with my dog Peyton is deep...</p>
                    </section>
                </article>
                <!-- Blog item 2 -->
                <article class="blog-item">
                    <figure class="blog-item__img-wrap">
                        <time datetime="" 
                            class="blog-item__time">28 june 2021
                        </time>
                        <a href="">
                            <img src="./assets/img/blog02.jpg" alt="blog02.jpg" 
                                class="blog-item__img"
                            >
                        </a>
                    </figure>
                    <section class="blog-item__info">
                        <h3>
                            <a href="" 
                                class="blog-item__title">Celebrity pet photographer Grace Chon on taking ...
                            </a>
                        </h3>
                        <p class="blog-item__desc">Doting pet parents have a relentless need to constantly photograph every adorable pet moment...</p>
                    </section>
                </article>
                <!-- Blog item 3 -->
                <article class="blog-item">
                    <figure class="blog-item__img-wrap">
                        <time datetime="" 
                            class="blog-item__time">10 july 2021
                        </time>
                        <a href="">
                            <img src="./assets/img/blog03.jpg" alt="blog03.jpg" 
                                class="blog-item__img"
                            >
                        </a>
                    </figure>
                    <section class="blog-item__info">
                        <h3>
                            <a href="" 
                                class="blog-item__title">5 Simple Tricks To Create A More Conscious ...
                            </a>
                        </h3>
                        <p class="blog-item__desc">It is easy to forget that animals are living creatures with a beating heart.</p>
                    </section>
                </article>
            </div>
        </div>
    </section>
</body>
</html>