.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
}

.about__label {
    font-family: "Sora", sans-serif;
    color: #5e6085;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.section-heading {
    color: #000958;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
}

.section-desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
    margin-top: 24px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__heading {
    margin-top: 15px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    background: #ff5d31;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, .69);
}

.about__check-item::after {
    content: url(../icons/check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    background: #5bd6e2;
    text-align: center;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, .17);
}

.about__card-title {
    font-family: "Sora", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
}

.about__card-desc {
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.43;
    margin-top: 14px;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    margin-left: auto;
    width: 494px;
}

.about__img-wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: -1;
    height: 336px;
    border-radius: 16px;
}

.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    margin-left: 0;
    border: 2px solid #fff;
    border-radius: 18px;
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, .17);
}

.about__img-wrap-bottom::after {
    content: "none";
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    right: 19px;
    bottom: 150px;
}

.about__decor-img:nth-child(6) {
    right: -24px;
    bottom: -40px;
}

.about__decor-img:nth-child(7) {
    right: -33px;
    bottom: -47px;
}

.about__decor-img:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-desc {
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
    width: 391px;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    color: #ff5d31;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    padding-bottom: 5px;
    margin-top: 32px;
}

.tab__content-more::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ff5b2e;
    /* opacity: 0.07; */
    height: 2px;
    border-radius: 1px;
}
